body{
    background-color: yellow;

}
h1{
    size: 60px;
    text-align: center;
    font-family: cursive;
}
.title{
    background-color: rgb(231, 231, 142);
}
.intro{
    background-color: rgb(228, 247, 63);
}