body{
    background-color: yellow;
}
h1{
    size: 40px;
    text-align: center;
}
h2{
    size: 800px;
    font-family:cursive;
    text-align: center;
   
}
img{
    width: 100px;
    height: 100px;
    margin-top: 5px;
}
